<div id="footer">
  <div id="shortcuts">
    <h3>Shortcuts</h3>
    <ul>
      <li><a href="http://brighterplanet.com/">Home</a></li>
      <li><a href="http://numbers.brighterplanet.com">Blog</a></li>
      <li><a href="http://brighterplanet.github.com">Dev</a></li>
      <li><a href="http://keys.brighterplanet.com">Keys</a></li>
      <li><a href="http://carbon.brighterplanet.com">Carbon</a></li>
      <li><a href="http://data.brighterplanet.com">Data</a></li>
      <li><a href="http://giving.bankofamerica.com/brighterplanet?cm_mmc=DEP-Affinity-_-brighterplanet-PAR-_-DA05LT005Y_partnersite_BrighterPlanet_ABE_Productlink-_-MyExpression">Cards</a></li>
      <li><a href="http://brighterplanet.com/users/me/footprint">Footprint</a></li>
      <li><a href="http://tests.brighterplanet.com">Tests</a></li>
    </ul>
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet</h1>
      <p class="slogan">Carbon is everywhere</p>
      <p class="description">Enterprise-grade cloud technology for carbon intelligence.</p>
      <p class="description"><a href="http://brighterplanet.com/about">About us</a></p>
      <p class="terms"><a href="http://brighterplanet.com/terms">Terms</a></p>
    </div>
    <div id="middleware">
      <div class="main">
        <h3>Carbon Middleware</h3>
        <p>Real-time, scalable web services to enhance your business applications. <a href="http://brighterplanet.com/middleware">Learn more</a></p>
      </div>
      <ul class="links">
        <li><a href="http://brighterplanet.com/tour">Information for executives</a> Industry solutions and case studies</li>
        <li><a href="http://brighterplanet.github.com">Information for developers</a> Documentation, code samples, and libraries</li>
      </ul>
    </div>
    <div id="applications">
      <h3>Live applications</h3>
      <ul>
        <li class="cards"><a href="http://giving.bankofamerica.com/brighterplanet?cm_mmc=DEP-Affinity-_-brighterplanet-PAR-_-DA05LT005Y_partnersite_BrighterPlanet_ABE_Productlink-_-MyExpression">Visa credit and debit cards</a> with rewards powered by Carbon Middleware</li>
        <li class="profiler"><a href="http://brighterplanet.com/users/me/footprint">Carbon footprint profiles</a> powered by Carbon Middleware technology</li>
      </ul>
    </div>

  </div>
</div>
