<div id="footer">
  <div id="shortcuts">
    <h3>Shortcuts</h3>
    <ul>
      <li><a href="http://brighterplanet.com/">Home</a></li>
      <li><a href="http://numbers.brighterplanet.com">Blog</a></li>
      <li><a href="http://brighterplanet.github.com">Dev</a></li>
      <li><a href="http://keys.brighterplanet.com">Keys</a></li>
      <li><a href="http://carbon.brighterplanet.com">Carbon</a></li>
      <li><a href="http://data.brighterplanet.com">Data</a></li>
      <li><a href="http://giving.bankofamerica.com/brighterplanet?cm_mmc=DEP-Affinity-_-brighterplanet-PAR-_-DA05LT005Y_partnersite_BrighterPlanet_ABE_Productlink-_-MyExpression">Cards</a></li>
      <li><a href="http://brighterplanet.com/users/me/footprint">Footprint</a></li>
      <li><a href="http://tests.brighterplanet.com">Tests</a></li>
    </ul>
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet™</h1>
      <p class="slogan">Bringing carbon to life</p>
      <p class="description">Easy, flexible on-demand carbon calculations in the cloud.</p>
      <p class="description"><a href="http://brighterplanet.com/about">About us</a> &middot; <a href="http://brighterplanet.com/terms">Terms</a></p>
      <p class="description">&copy;2011 Brighter Planet</p>
    </div>
    <div id="applications">
      <h3>Live applications</h3>
      <ul>
        <li class="cards"><a href="http://giving.bankofamerica.com/brighterplanet?cm_mmc=DEP-Affinity-_-brighterplanet-PAR-_-DA05LT005Y_partnersite_BrighterPlanet_ABE_Productlink-_-MyExpression">Visa® credit and debit cards</a> from Bank of America® with rewards powered by Brighter Planet</li>
      </ul>
    </div>

  </div>
</div>
