<div id="footer">
  <div id="divider">
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet™</h1>
      <p class="slogan">Business intelligence for a sustainable future</p>
      <p class="description">&copy;2011 Brighter Planet</p>
    </div>
    <div id="links">
      <p><a href="http://brighterplanet.com/about">About us</a> &middot; <a href="http://brighterplanet.com/services">Services</a> &middot; <a href="http://brighterplanet.com/terms">Terms</a></p>
      <p><a href="http://twitter.com/brighterplanet">Twitter</a> &middot <a href="http://numbers.brighterplanet.com">Blog</a> &middot; <a href="http://facebook.com/brighterplanet">Facebook</a></p> 
    </div>
  </div>
</div>
