<div id="header">
  <h1><span>Brighter Planet</span></h1>
  <ul>
    <li class="home"><a href="http://brighterplanet.com/">Home</a></li>
    <li><a href="http://brighterplanet.com/about">About</a></li>
    <li><a href="http://brighterplanet.com/services">Services</a></li>
    <li><a href="http://brighterplanet.com/research">Research</a></li>
    <li><a href="http://brighterplanet.com/demos">Demos</a></li>
  </ul>
  <p><a href="http://brighterplanet.github.com">Developer site</a> &middot; <a href="http://numbers.brighterplanet.com/">Blog</a></p>
</div>

<div id="title">
{% include title.html %} 
</div>



