  <ul>
    <li class="home"><a href="http://brighterplanet.com/">Home</a></li>
    <li>
      <a href="http://brighterplanet.com/about">About</a>
      <div>
        <p>Brighter Planet powers the leading computational sustainability platform, using hard numbers and raw data to reveal actionable opportunities and deliver measurable results to businesses and individuals worldwide</p>
        <ul>
          <li><a href="http://brighterplanet.com/about">Overview</a> <span>Our story and vision for the future of sustainability</span></li>
          <li><a href="http://brighterplanet.com/people">Our team</a> <span>Our staff, board of directors, and advisors</span></li>
          <li><a href="http://brighterplanet.com/partners">Partners</a> <span>A list of our collaborators</span></li>
          <li><a href="http://brighterplanet.com/press">Press</a> <span>Brighter Planet in the news &amp; resources for the press</span></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="http://brighterplanet.com/services">Services</a>
      <div>
        <p>Brighter Planet helps clients identify opportunities for data-driven sustainability initiatives, designs programs around these opportunities to deliver business value, and assists with integration and development</p>
        <ul>
          <li><a href="http://brighterplanet.com/services">Overview</a> <span>How we work with our clients</span></li>
          <li><a href="http://brighterplanet.com/case_studies">Client case studies</a> <span>How we have helped clients worldwide revolutionize the way they address sustainability</span></li>
          <li><a href="http://brighterplanet.com/imaginations">Imaginations</a> <span>Explorations of concepts in computational sustainability for leading businesses</span></li>
          <li><a href="http://brighterplanet.com/research">Research</a> <span>Our analyses, survey data and best practices advice for corporate sustainability</span></li>
        </ul>
    </li>
    <li>
      <a href="http://impact.brighterplanet.com">Technology</a>
      <div>
        <p>The backbone of Brighter Planet is our <strong>CM1</strong>™ computational sustainability platform, which delivers on-demand carbon and energy impact calculations through a developer-friendly API</p>
        <ul>
          <li><a href="http://impact.brighterplanet.com">CM1 homepage</a> <span>Technical details and API documentation</span></li>
          <li><a href="http://brighterplanet.com/prototypes">Prototypes</a> <span>Experiments from our staff that demonstrate CM1's capabilities</span></li>
          <li><a href="http://brighterplanet.com/app_gallery">App gallery</a> <span>A showcase of Brighter Planet-powered apps created by developers from across the community</span></li>
          <li><a href="http://data.brighterplanet.com">Reference data</a> <span>Our always-current clearinghouse of global climate, geographic, and demographic data</span></li>
        </ul>
      </div>
    </li>
    <li class="models">
      <a href="http://impact.brighterplanet.com/models">Models</a>
      <div>
        <p>Brighter Planet's technology platform calculates the carbon, energy, and resource impact of a variety of real-life emission sources. Our impact models resiliently adapt to user input, have been third-party certified, and feature expressive, human-oriented APIs.</p>
        <ul>

          <li><a href="http://impact.brighterplanet.com/models/automobile">Automobile</a></li>

          <li><a href="http://impact.brighterplanet.com/models/automobile_trip">Automobile trip</a></li>

          <li><a href="http://impact.brighterplanet.com/models/bus_trip">Bus trip</a></li>

          <li><a href="http://impact.brighterplanet.com/models/computation">Computation</a></li>

          <li><a href="http://impact.brighterplanet.com/models/diet">Diet</a></li>

          <li><a href="http://impact.brighterplanet.com/models/electricity_use">Electricity use</a></li>

          <li><a href="http://impact.brighterplanet.com/models/flight">Flight</a></li>

          <li><a href="http://impact.brighterplanet.com/models/fuel_purchase">Fuel purchase</a></li>

          <li><a href="http://impact.brighterplanet.com/models/lodging">Lodging</a></li>

          <li><a href="http://impact.brighterplanet.com/models/meeting">Meeting</a></li>

          <li><a href="http://impact.brighterplanet.com/models/motorcycle">Motorcycle</a></li>

          <li><a href="http://impact.brighterplanet.com/models/pet">Pet</a></li>

          <li><a href="http://impact.brighterplanet.com/models/purchase">Purchase</a></li>

          <li><a href="http://impact.brighterplanet.com/models/rail_trip">Rail trip</a></li>

          <li><a href="http://impact.brighterplanet.com/models/residence">Residence</a></li>

          <li><a href="http://impact.brighterplanet.com/models/shipment">Shipment</a></li>

        </ul>
      </div>
    </li>
  </ul>

