    <h3>Who's behind this?</h3>
    <p id="behind">We're <a href="http://brighterplanet.com">Brighter Planet</a>, a climate-change technology company leading the way toward more open, efficient, transparent, meaningful carbon information.</p>
    <h3>Who's blogging here?</h3>
    <ol class="authors">
      <li class="seamus"><strong>Seamus Abshere</strong> Engineering director</li>
      <li class="robbie"><strong>Robbie Adler</strong> Biz dev director</li>
      <li class="ian"><strong>Ian Hough</strong> Staff scientist</li>
      <li class="derek"><strong>Derek Kastner</strong> Rails developer</li>
      <li class="matt"><strong>Matt Kling</strong> Science analyst</li>
      <li class="patti"><strong>Patti Prairie</strong> CEO</li>
      <li class="andy"><strong>Andy Rossmeissl</strong> Co-founder</li>
    </ol>

