#content {
  background: #e1e1e1 url(images/content.png) -137px 0 repeat-y;
  overflow: auto;
  position: relative;
}

#head {
  padding: 0 0 25px 150px;
}

#content h1 {
  display: inline;
  margin: 0 5px 0 0;
}

p.summary {
  font-size: 18px;
  color: gray;
  display: inline;
  margin: 0 !important;
}

#head a {
  color: #2DB56A;
}

#main {
  width: 556px;
  padding: 0 80px 0 0;
  float: left;
}

ol.posts {
  list-style: none;
}

ol.posts li {
  background-repeat: no-repeat;
  background-position: 0 0;
}

ol.posts li h2 {
  margin-top: 35px !important;
}

ol.posts li:first-child h2 {
  margin-top: 0 !important;
}

ol.posts li h2 a, .post h2 a {
  color: inherit;
  text-decoration: none;
}

ol.posts li h2 a:hover, .post h2 a:hover {
  text-decoration: underline;
  color: blue;
}

ol.posts li>p, .post>p {
  margin: 10px 0 0 150px;
  line-height: 1.4;
}

p.meta {
  margin: 0 !important;
  float: left;
  width: 98px;
  padding: 0 0 0 37px;
  font-size: 11px;
  min-height: 32px;
  color: gray;
}

p.jump {
  color: gray;
  font-style: italic;
}

p.jump a {
  color: inherit;
}

.andy { background-image: url(images/andy.jpg) }
.patti { background-image: url(images/patti.jpg) }
.seamus { background-image: url(images/seamus.jpg) }
.ian { background-image: url(images/ian.jpg) }
.robbie { background-image: url(images/robbie.jpg) }
.matt { background-image: url(images/matt.jpg) }
.derek { background-image: url(images/derek.jpg) }
.bessie { background-image: url(images/bessie.png) }
.scott { background-image: url(images/scott.jpg) }

pre {
  margin-right: -80px;
  margin-top: 15px;
}

.highlight + .highlight pre {
  margin-top: -10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#aux {
  float: left;
  width: 290px;
  padding: 0 0 0 25px;
}

#aux h3 {
  margin: 20px 0 5px;
  color: gray;
  font-size: 14px;
}

#aux>h3:first-child {
  margin-top: 0;
}

#aux p {
  color: gray;
}

#aux p a {
  color: gray;
}

ol.authors {
  list-style: none;
  overflow: auto;
}

ol.authors li {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0 0 0 37px;
  margin: 0 0 5px;
  min-height: 32px;
  color: #999;
  float: left;
  width: 130px;
}

ol.authors li strong{
  display: block;
  font-weight: normal;
  color: gray;
}

#behind {
  background: url(images/radiant_earth.png) no-repeat;
  padding: 2px 0 0 57px;
  min-height: 48px;
}

.post {
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: -10px 0 0;
}

.stamp {
  font-size: 11px;
  color: #999;
}

.feed {
  margin: 20px 0 0;
}

.feed a {
  padding: 0 0 0 18px;
  display: block;
  background: url(images/feed.png) no-repeat;
}

ul.tags {
  list-style: none;
}

ul.tags li {
  font-size: 18px;
}

ul.tags li a {
  color: gray;
}

p.tag {
  margin: 0 0 25px 150px;
}

p.tag a {
  color: inherit;
}

p.tag a:hover {
  color: blue;
}

ol.posts li>ul, .post>ul {
  list-style: square;
  margin: 0 0 0 150px;
  padding: 0 0 0 1em;
}

ol.posts li>ul>li>p, .post>ul>li>p {
  margin: 0;
}

ol.posts li p img, .post p img {
  max-width: 370px;
}

ol.posts li p.wide img, .post p.wide img {
  max-width: 651px;
}

ol.posts li>object, .post>object {
  max-width: 370px;
  margin: 10px 0 10px 150px;
}

ol.posts li>.wide, .post>.wide {
  margin-right: -80px;
  margin-left: -15px;
}

ol.posts li>.wide object, .post>.wide object {
  margin-top: 15px;
}

ol.posts li blockquote, .post blockquote {
  -moz-box-shadow:0 5px 5px #EEEEEE inset;
  background:none repeat scroll 0 0 white;
  border-top:1px solid #DDDDDD;
  display:block;
  line-height:1.4;
  margin:10px -80px 10px -15px;
  overflow:auto;
  padding:10px;
  font-size: 16px;
  font-style: italic;
  color: #444;
}

#disqus_thread h3 {
  margin-left: 0;
}

#elsewhere {
  display: none;
}
