<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" id="numbers-brighterplanet-com">
  <title>{{ page.title }} [Brighter Planet's Safety in Numbers]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/brighter_planet.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" />
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
</head>
<body>
<!--{ include google_analytics.html }-->
<div id="content">
  <div id="main">
    <div id="head">
      <h1><a href="/">Safety in Numbers</a></h1>
      <p class="summary">Brighter Planet's blog</p>
    </div>
    <div class="post {{ page.author | downcase }}">
      <p class="meta">Posted by {{ page.author }} on {{ page.date | date: "%A, %B %d, %Y" }}.</p>
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
{{ content }}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = '{{ page.id }}';
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://brighterplanet.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=brighterplanet">comments powered by Disqus.</a></noscript>
  </div>
  <div id="aux">
    <h3>What blog is this?</h3>
    <p><a href="/">Safety in Numbers</a> is Brighter Planet's blog about climate science, Ruby, Rails, data, transparency, and, well, us.</p>
    {% include who.html %}
  </div>
</div>
{% include footer.html %}
</body>
</html>
